@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --ui-bg: 246 249 250; /* rgb values for tailwind compatibility */
}

body{
    font-family: 'Inter', ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
    background-color: rgb(241, 245, 241);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.auth-card {
    backdrop-filter: blur(6px);
}